<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">  
    <title> $TITLE </title>
    <link rel="icon" href="data:,">
    <style> $STYLES </style>
  </head>
  <body>
    <header>
      <nav>
        <a href="index.html">Home</a>
        |
        <a href="https://github.com/ukarim">Github</a>
      </nav>
    </header>
    <main> $MARKDOWN </main>
  </body>
</html>

